{% load humanize %}

<div class="card">
    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">가격: {{ item.price|floatformat:"-0"|intcomma }}원</p>
        <p class="card-text">작성자: <a href="{% url 'users:profile' username=item.author.username %}" class="author-link">{{ item.author.username }}</a></p>
        <a href="{% url 'items:item_detail' item.id %}" class="btn btn-primary">자세히 보기</a>
        {% if request.user in item.likes.all %}
        <button type="button" class="toggle-like-btn liked" data-item-id="{{ item.id }}">
        찜 해제
        </button>
        {% else %}
        <button type="button" class="toggle-like-btn" data-item-id="{{ item.id }}">
            찜하기
        </button>
        {% endif %}
    </div>
</div>